<h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <br><p>Ask your coach anything:</p>
  <div class="input-button">
    <input class="input" type="text" name="ask">
    <input class="button" type="submit" value="Ask">
  </div>
</form>
